{% extends './base/base_menu_side.html' %}
{% load static %}

{% block main_content %}
    <div class="row m-2">
        <div class="col-md-2">
            <img src="{% static 'default.jpg' %}" class="card-img m-1">
        </div>
        <div class="col-md-10">
            <h5 class="card-title">{{q.title}}</h5>
            <p> {{q.text}}</p>
            <p><small class="text-muted">Added {{q.date}} </small></p>
        </div>
    </div>
    {% for a in ans %}
    <div class="row border m-2">
      <div class="col-md-2">
        <img src="{% static 'default.jpg' %}" class="card-img m-1">
      </div>
      <div class="col-md-10">
        <p> {{a.text|truncatewords:255}}... </p>
        <p><small class="text-muted">Added {{a.date}} </small></p>
      </div>
    </div>
  {% endfor %}

  <div class="row justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock main_content %}