{% extends 'base_navbar_footer.html' %}

{% block header%}
  <div class="col-md-8 m-2">
  {% block header_content %}
    <h2>Header</h2>
  {% endblock header_content %}
  </div>
{% endblock header %}

{% block main %}
  <div class="col-md-10 blog-main">
    {% block main_content %}
      {% lorem 5 b random %}
    {% endblock main_content %}
  </div>
{% endblock main %}
  
{% block sidebar %}
  <aside class="col-md-2 blog-sidebar">
    {% block side_content %}
      <div class="row">
        <h4>Popular tags</h4>
        <div class="container">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a>Tag 1</a></li>
            <li class="list-group-item"><a>Tag 2</a></li>
            <li class="list-group-item"><a>Tag 3</a></li>
            <li class="list-group-item"><a>Tag 4</a></li>
            <li class="list-group-item"><a>Tag 5</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h4>Best users</h4>
        <div class="container">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a>User 1</a></li>
            <li class="list-group-item"><a>User 2</a></li>
            <li class="list-group-item"><a>User 3</a></li>
            <li class="list-group-item"><a>User 4</a></li>
            <li class="list-group-item"><a>User 4</a></li>
            <li class="list-group-item"><a>User 4</a></li>
            <li class="list-group-item"><a>User 5</a></li>
          </ul>
        </div>
    {% endblock side_content %}
    </div>
  </aside>
{% endblock sidebar %}