{% extends 'base.html' %}
{% load static %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href={% url 'index' %}>AskMelikyan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if User == "ser" %}
          <li>
            <img src="{% static 'default.jpg' %}" alt="User picture" class="img-thumbnail" width="50" height="50">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{User}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>
          <li class="nav-item button">
            <a class="btn btn-success" href="{% url 'ask' %}" role="button">Ask!</a>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Authorize
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'sign_in' %}">Sign In</a>
              <a class="dropdown-item" href="{% url 'sign_up' %}">Sign Up</a>
            </div>
          </li>
          <li class="nav-item button">
            <a class="btn btn-success disabled" role="button">Ask!</a>
          </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
{% endblock navbar %}
{% block footer %}
  <footer class="ask-footer">
    <p>Created for Texnopark Web, by <a href="https://park.mail.ru/profile/s.melikyan/">Sergey Melikyan</a>.</p>
  </footer>
{% endblock footer %}