{% block like %}
<div class="row justify-content-end">
    <div class="col-md-4">

        <ul class="list-group list-group-horizontal m-2">
                <li class="list-group-item">Tag1</li>
                <li class="list-group-item">Tag2</li>
                <li class="list-group-item">Tag3</li>
        </ul>
    </div>
    <div class="col-md-2">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary"> - </button>
            <button type="button" class="btn btn-primary"> 100 </button>
            <buttonTag1type="button" class="btn btn-secondary"> + </button>
        </div>
    </div>
</div>
{% endblock like %}Tag1